html, body, div {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

@font-face {
    font-family: "Neuropol";
    src: url(neuropol.ttf);
}

@font-face {
    font-family: "Planer";
    src: url(Planer_Reg.otf);
}


body>div {
	width: 100hh;
	height: 100vh;
	background-color: #000;
	margin: 0 auto;
	padding: 0;
}


#mainContainer {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 2;
	background-size: cover;
	background-repeat: no-repeat;
	/*background: url("./img/backgrounds/background_menu.jpg") center center;*/
}

#transitionBlack {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: black;
    display: none;
}

#backgroundParallax {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background: url("./img/backgrounds/background_menu_parallax.png") center center;

}



#backgroundScroll {

	background: url("./img/other/backgroundSuperLarge.jpg") repeat-y;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: none;

}

.horizontal_scroll {
	-webkit-animation: backgroundScroll 20s linear infinite;
    animation: backgroundScroll 20s linear infinite;
}

.vertical_scroll {
    -webkit-animation: vertical_backgroundScroll 20s linear infinite;
    animation: vertical_backgroundScroll 20s linear infinite;
}

#backgroundScroll2 {
	background: url("./img/other/backgroundSuperLargeTransparent.png") repeat-y;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
}

.horizontal_scrollFast {
	-webkit-animation: backgroundScroll 5s linear infinite;
    animation: backgroundScroll 5s linear infinite;
}

.vertical_scrollFast {
	-webkit-animation: vertical_backgroundScroll 5s linear infinite;
    animation: vertical_backgroundScroll 5s linear infinite;
}

/*
#gameFrame {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 2;
}*/



/*
#menu ul li:hover {
	background-image: url("./img/gui/main_button_1_selected.png");
}
*/

/******************************************************************************
 **									== GLOBAL ==
 ******************************************************************************/


/******************************************************************************
 **									== MENU ==
 ******************************************************************************/

#menu {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table;
	overflow: hidden;
}

#menuBackground {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background: url("./img/backgrounds/background_menu.jpg") center center;
}

#menuBackgroundParallax {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background: url("./img/backgrounds/background_menu_parallax.png") center center;
}


#menu h1 {
	color: white;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	font-family: "Neuropol";
	letter-spacing: 0.3em;
}

#menuHeader{
	display: table-row;
	height: 20%;
	width: 100%;
}

#menuFooter {
	display: table-row;
	height: 10%;
	width: 100%;
}

#menuList {
	display: table-row;
	height: 70%;
}

#menuList ul li{
	margin: 20px auto;
	width: 543px;
	height: 167px;
	background-image: url("./img/gui/main_button_1.png");
	list-style: none;
}

#menuList ul li a {
	line-height: 167px;
	color: #fff;
	font-size: 2.1em;
	text-align: left;
	width: 100%;
	display: block;
	font-family: "Neuropol";
	padding-left: 164px;
	cursor: pointer;
	letter-spacing: 0.2em;
}



/******************************************************************************
 **									== GAME ==
 ******************************************************************************/

#gameContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#spaceship {
	height: 112px;
	width: 112px;
	position: absolute;
	left: 0px ;
	top: 0px;
	z-index: 2;

	background-image: url("./img/spaceship_01.png");
}

#spaceshipContainer {
	height: 112px;
	width: 112px;
	position: absolute;
	left: 800px ;
	top: 500px;
	z-index: 2;
}




#gameHud {
	width: 100%;
    height: 100%;
	z-index: 3;
	position: relative;
	left: 0;
	top: 0;
	display: none;
}

#hud_lives_score {
	width: 516px;
	height: 206px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("./img/gui/hud_lives_score.png");
	margin: 0;
	padding: 0;
}

#health_sprite {
	background: url("./img/gui/health_sprite.png");
	width: 145px;
	height: 145px;
	position: absolute;
	left: 36px;
	top: 24px;
	z-index: 4;
}

#hud_menu {
	width: 26px;
	height: 25px;
	/*background-color: rgba(255,0,0,0.8);*/
	background: url("./img/gui/menu_button.png");
	position: absolute;
	top: 24px;
	left: 38px;
	z-index: 5;
	cursor: pointer;
}

#hud_pause {
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("./img/gui/hud_pause.png");
	width: 168px;
	height: 186px;
    cursor: pointer;
}

#hud_pause :hover {

}


#hud_start {
	background-color: lime;
	cursor: pointer;
	font-family: consolas;
	line-height: 70px;
	padding: 5px;
	left: 50%;
	position: absolute;
}

#hud_livesIcon, #hud_rocketsIcon {
	margin-left: 15px;
	font-size: 25px;
}

#hud_rocketsIcon {
	cursor: pointer;
}

#hud_lives, #hud_rockets {
	font-size: 35px;
}



.hud_dead {
	color: firebrick;
}

.hud_normal {
	color: #aaaaaa;
}

#hud_messageContainer {
	width: 100%;
	height: 146px;
	bottom: 5%;
	position: absolute;
	display: none;
	z-index: 50;
}

#hud_messageBackground {
	position: relative;
	background: url("./img/gui/hud_message.png");
	height: 146px;
	width: 459px;
	margin: 0 auto;
}

#hud_message {
	position: absolute;
   	top: 36px;
   	left: 119px;
   	width: 292px;
   	height: 84px;
	text-align: center;
	line-height: 84px;
	font-family: "Neuropol";
	font-size: 32px;
	color: white;
	padding: 0;
	margin: 0;
}


.rocket {
	height: 20px;
	width: 38px;
	/*background-color: firebrick;*/
	background: url("./img/rocket.png");
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 3
}

.bullet {
	height: 4px;
	width: 28px;
	/*background-color: white;*/
	background: url("./img/bullet_violet.png");
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 3
}

.asteroid {
	position: absolute;
}

.spaceshipFlame {
	background: url("./img/spaceship_flame.png");
	background-position: 0 0;
	width: 51px;
	height: 14px;
	left: -23px;
	position: absolute;
	z-index: 1;
}


#startAsteroids {
	background-color: lime;
	cursor: pointer;
}

#stopAsteroids {
	background-color: lime;
	cursor: pointer;
}

#menuButton {
	background-color: lime;
	cursor: pointer;
}

#rotate {
	background-color: lime;
	cursor: pointer;
}

#scoreLeft {
	color: white;
	font-size: 65px;
	font-weight: bold;
	font-family: "Planer";
	position: absolute;
	top: 37px;
	left: 207px;
	text-align: right;
	width: 125px;
	padding: 0;
	margin: 0;
}

#scoreRight {
	color: white;
	font-size: 55px;
	font-weight: bold;
	font-family: "Planer";
	position: absolute;
	top: 47px;
	left: 340px;
	text-align: right;
	width: 98px;
	padding: 0;
	margin: 0;
}

#health {
	color: #ff8400;
	font-family: "Planer";
	position: absolute;
	top: 49px;
	left: 61px;
	margin: 0;
	padding: 0;
	width: 95px;
	height: 95px;
	text-align: center;
	line-height: 95px;
	font-weight: bold;
	font-size: 49px
}

#health sup {
	font-size: 25px;
}

.fullHealth {
	font-size: 49px;
}

#health.notFull {
	font-size: 55px;
}

#health.danger {
	color: #ff3600;
}


@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -3840px 0;}
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -3840px 0;}
}

@-webkit-keyframes vertical_backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0 3240px ;}
}

@keyframes vertical_backgroundScroll {
    from {background-position: 0 0;}
    to {background-position:  0 3240px;}
}



.explosion {
	background: url("explosion.png");
	background-position: 0 0;
	width: 100px;
	height: 107px;
}

.explosionContainer {
	position: absolute;
    overflow: hidden;
}

.explosionMasque {
	margin: 0 auto;
	position: relative;
}

.bonus {
	width: 64px;
	height: 64px;
	position: absolute;
}

.displayBonusContainer {
	width: 60%;
	height: 30%;
	/*background-color: rgba(255, 100, 100, 0.5);*/
	position: absolute;
	top: 35%;
	left: 20%;
	z-index: 99;
	color: #ff8400;
	font-family: consolas;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
}


.rotateUp {
	transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -o-transform: rotate(-90deg); /* Opera */
}

#pauseContainer {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;

}

#pauseContainer ul {
	position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 40%;
     height: 300px;
     background-color: rgba(0, 0, 0, 0.2);
     border-radius: 25px;
     border: 3px solid #00fdfa;
     -webkit-box-shadow: 0px 0px 5px 5px rgba(141,237,240,0.2);
	-moz-box-shadow: 0px 0px 5px 5px rgba(141,237,240,0.2);
	box-shadow: 0px 0px 5px 5px rgba(141,237,240,0.2);
    transform: scale(0);
}



#pauseContainer li {
	list-style: none;
	height: 150px;
	padding-left: 60px;
}

#pauseContainer li img {
	display: block;
	margin: auto;
	float: left;
	padding-top: 36px;
	cursor: pointer;
}

#pauseContainer li p{
	color: white;
	font-size: 40px;
	font-family: "Neuropol";
	line-height: 78px;
	padding: 36px 0 0 120px;
	margin: 0;
	cursor: pointer;
}


#bottomResumeContainer {
    background-color: rgba(141,237,240, 0.05);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    border-top: 2px solid rgba(141,237,240, 0.6);
}


.skillBox {
    height: 148px;
    width: 10%;
    bottom: 0;
    left: 2000px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(141,237,240, 1);
    display: inline-block;
    position: absolute;
    color: white;
    font-size: 20px;
    font-family: "Neuropol";
    text-align: center;
    line-height: 150px;
    letter-spacing: 0.2em;
}



/******************************************************************************
 **									== SCORE ==
 ******************************************************************************/
#scoreContainer {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#scoreBody {
	display: table-cell;
	width: 60%;
}

.scoreSide {
	display: table-cell;
	width: 20%;
}




#scoreHeader img{
	height: 190px;
	width: auto;
	margin: 10px auto;
	display: block;
}

.backButton {
	width: 125px;
	height: 125px;
	background-image: url("./img/gui/button_red.png");
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); /* IE 9 */
	-moz-transform: rotate(90deg); /* Firefox */
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-o-transform: rotate(90deg); /* Opera */
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2;
}


.backButton + img {
    height: 72px;
    left: 31px;
    position: absolute;
    top: 43px;
    width: auto;
    z-index: 1;
}


#scoreBody h1 {
    color: white;
    font-family: "Neuropol";
    font-size: 33px;
    letter-spacing: 0.05em;
    line-height: 33px;
    margin-top: 0;
    padding-top: 108px;
    text-align: center;
}

#scoreBackground {
	height: 839px;
	margin: 20px auto;
	background: url("./img/gui/window_whole.png") center no-repeat;
	overflow: hidden;
}

#scoreContainer table {
	width: 750px;
	font-family: "Neuropol";
	color: white;
	text-align: center;
	margin: 65px auto 0;
	letter-spacing: 0.2em;
}

#scoreContainer tr {
	width: 100%;
	height: 50px;
}

tr > td
{
  padding-bottom: 0.15em;
  padding-left: 10px;
}

.scorePos {
	font-size: 25px;
	border: 1px solid #00fdfa;
	border-radius: 52px;
	width: 50px;
	height: 50px;
	display: block;
	line-height: 50px;
}

tr:nth-of-type(1) span{
	border: 3px solid #fff107;
}

tr:nth-of-type(2) span{
	border: 3px solid #889b97;
}

tr:nth-of-type(3) span{
	border: 3px solid #913f10;
}

.scoreName {
	font-size: 35px;
	width: 500px;
	margin-top: 1px;
	text-align: left;
	padding-left: 20px;
}

.scoreNumber {
	color: #00fdfa;
	font-size: 40px;
	width: 400px;
	margin-top: 1px;
}



/******************************************************************************
 **									== RESUME ==
 ******************************************************************************/
#resumeContainer {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	overflow: scroll;
}

#resumeContainer>div {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table;
	overflow: hidden;
}

#resumeHeader {
	display: table-row;
	height: 20%;
}

#resumeBody {
	display: table-row;
	height: 60%
}


#resumeFooter {
	display: table-row;
	height: 20%;
}




.resumeSide {
	display: table-cell;
	width: 20%;
}

#resumeHeaderCenter img{
	height: 190px;
	width: auto;
	margin-top: 10px;
}

#resumeHeaderCenter p{
	font-family: "Neuropol";
	color: white;
	margin-top: -139px;
	margin-left: 201px;
	text-align: left;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0.4em;
}

#resumeHeaderCenter h1{
	font-family: "Neuropol";
	color: white;
	margin-top: 23px;
	text-align: center;
	font-size: 30px;
	line-height: 32px;
}



#resumeBodyCenter {
	padding: 0 65px;
	display: table-cell;
	color: white;
	font-family: "Planer";
}

#resumeBodyCenter>div:first-of-type {
	display: table;
	width: 100%;
	margin-top: 50px;
}


#downloadResume {
	position: absolute;
	top: 200px;
	width: 80px;
	height: 80px;
	background-color: blue;
}

.resumeCat {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid #999;
	display: inline-block;
	margin: 5px 20px;
}

#resumeBodyCenter img {
	height: 120px;
	width: auto;
	margin: 0 auto;
	display: block;
}

.resumeCol {
	display: table-cell;
	width: 25%;
}

.resumeCol > p {
	color: white;
	width: 100%;
	text-align: center;
	font-family: "Planer";
}

.resumeTexts {
	color: white;
	font-family: "Planer";
	font-size: 15px;
	letter-spacing: 0.2em;
	margin-top: 65px;
}

#resumePersonalData {
	display: none;
}

#resumeSkills {
	display: none;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

#resumeWorks {
	display: none;
}

#resumeFormation {
	display: none;
}







/* Wobble To Bottom Right */
@-webkit-keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }

  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }

  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }

  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.hvr-wobble-to-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-to-bottom-right:hover, .hvr-wobble-to-bottom-right:focus, .hvr-wobble-to-bottom-right:active {
  -webkit-animation-name: hvr-wobble-to-bottom-right;
  animation-name: hvr-wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}



/* Wobble To Top Right */
@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }

  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }

  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }

  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }

  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-to-top-right:hover, .hvr-wobble-to-top-right:focus, .hvr-wobble-to-top-right:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
