html, body, div {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

@font-face {
    font-family: "Neuropol";
    src: url(neuropol.ttf);
}

@font-face {
    font-family: "Planer";
    src: url(Planer_Reg.otf);
}

#mainContainer {
	width: 100hh;
	height: 100vh;
	background-color: #000;
	margin: 0 auto;
	padding: 0;
}

#backgroundScroll {

	background: url("backgroundSuperLarge.jpg") repeat-y;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;

}

.horizontal_scroll {
	-webkit-animation: backgroundScroll 20s linear infinite;
    animation: backgroundScroll 20s linear infinite;
}

.vertical_scroll {
    -webkit-animation: vertical_backgroundScroll 20s linear infinite;
    animation: vertical_backgroundScroll 20s linear infinite;
}

#backgroundScroll2 {
	background: url("backgroundSuperLargeTransparent.png") repeat-y;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.horizontal_scrollFast {
	-webkit-animation: backgroundScroll 5s linear infinite;
    animation: backgroundScroll 5s linear infinite;
}

.vertical_scrollFast {
	-webkit-animation: vertical_backgroundScroll 5s linear infinite;
    animation: vertical_backgroundScroll 5s linear infinite;
}

#gameFrame {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 2;
}


#menu {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	display: table;
	
	overflow: hidden;
}

#menuBackground {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background: url("./img/backgrounds/background_menu.jpg") center center;
}

#menuBackgroundParallax {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background: url("./img/backgrounds/background_menu_parallax.png") center center;
}


#menu h1 {
	color: white;
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	font-family: "Neuropol";
	letter-spacing: 0.3em;
}

#menuHeader{
	display: table-row;
	height: 20%;
	width: 100%;
}

#menuFooter {
	display: table-row;
	height: 10%;
	width: 100%;
}

#menuList {
	display: table-row;
	height: 70%;
}

#menu ul li{
	margin: 20px auto;
	width: 543px;
	height: 167px;
	background-image: url("./img/gui/main_button_1.png");
	list-style: none;
}

#menu ul li a {
	line-height: 167px;
	color: #fff;
	font-size: 2.1em;
	text-align: left;
	width: 100%;
	display: block;
	font-family: "Neuropol";
	padding-left: 164px;
	cursor: pointer;
	letter-spacing: 0.2em;
}

/*
#menu ul li:hover {
	background-image: url("./img/gui/main_button_1_selected.png");
}
*/



#spaceship {
	height: 112px;
	width: 112px;
	position: absolute;
	left: 0px ;
	top: 0px;
	z-index: 2;

	background-image: url("./img/spaceship_01.png");
}

#spaceshipContainer {
	height: 112px;
	width: 112px;
	position: absolute;
	left: 800px ;
	top: 500px;
	z-index: 2;
}




#gameHud {
	width: 100%;
	z-index: 3;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

#hud_lives_score {
	width: 516px;
	height: 206px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("./img/gui/hud_lives_score.png");
}

#hud_menu {
	width: 26px;
	height: 25px;
	/*background-color: rgba(255,0,0,0.8);*/
	background: url("./img/gui/menu_button.png");
	position: absolute;
	top: 24px;
	left: 38px;
	z-index: 4;
	cursor: pointer;
}

#hud_pause {
	position: absolute;
	top: 0;
	right: 0;
	background-image: url("./img/gui/hud_pause.png");
	width: 168px;
	height: 186px;
}


#hud_start {
	background-color: lime;
	cursor: pointer;
	font-family: consolas;
	line-height: 70px;
	padding: 5px;
	left: 50%;
	position: absolute;
}

#hud_livesIcon, #hud_rocketsIcon {
	margin-left: 15px;
	font-size: 25px;
}

#hud_rocketsIcon {
	cursor: pointer;
}

#hud_lives, #hud_rockets {
	font-size: 35px;
}



.hud_dead {
	color: firebrick;
}

.hud_normal {
	color: #aaaaaa;
}

/*
#gameHud span {
	font-family: consolas;
	line-height: 70px;
	padding: 5px;
}*/


.rocket {
	height: 20px;
	width: 38px;
	/*background-color: firebrick;*/
	background: url("./img/rocket.png");
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 3
}

.bullet {
	height: 4px;
	width: 28px;
	/*background-color: white;*/
	background: url("./img/bullet_violet.png");
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 3
}

.asteroid {
	position: absolute;
}

.spaceshipFlame {
	background: url("./img/spaceship_flame.png");
	background-position: 0 0;
	width: 51px;
	height: 14px;
	left: -23px;
	position: absolute;
	z-index: 1;
}


#startAsteroids {
	background-color: lime;
	cursor: pointer;
}

#stopAsteroids {
	background-color: lime;
	cursor: pointer;
}

#menuButton {
	background-color: lime;
	cursor: pointer;
}

#rotate {
	background-color: lime;
	cursor: pointer;
}

#scoreLeft {
	color: white;
	font-size: 65px;
	font-weight: bold;
	font-family: "Planer";
	position: absolute;
	top: 37px;
	left: 207px;
	text-align: right;
	width: 125px;
	padding: 0;
	margin: 0;
}

#scoreRight {
	color: white;
	font-size: 55px;
	font-weight: bold;
	font-family: "Planer";
	position: absolute;
	top: 47px;
	left: 340px;
	text-align: right;
	width: 98px;
	padding: 0;
	margin: 0;
}


@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -3840px 0;}
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -3840px 0;}
}

@-webkit-keyframes vertical_backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: 0 3240px ;}
}

@keyframes vertical_backgroundScroll {
    from {background-position: 0 0;}
    to {background-position:  0 3240px;}
}



.explosion {
	background: url("explosion.png");
	background-position: 0 0;
	width: 100px;
	height: 107px;
}

.explosionContainer {
	position: absolute;
    overflow: hidden;
}

.explosionMasque {
	margin: 0 auto;
	position: relative;
}

.bonus {
	width: 64px;
	height: 64px;
	position: absolute;
}

.displayBonusContainer {
	width: 60%;
	height: 30%;
	/*background-color: rgba(255, 100, 100, 0.5);*/
	position: absolute;
	top: 35%;
	left: 20%;
	z-index: 99;
	color: white;
	font-family: consolas;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
}


.rotateUp {
	transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -o-transform: rotate(-90deg); /* Opera */
}
